<hr>
<div class="footer" style="left: 30px; bottom: 0px; height: 68px; width: 85%; background: #FFFFFF; margin: 30px">
    <div  style="height: 14px;  float: left;">
  <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>
  </div>
  <!--<div style="height: 14px; float: right;"><a href="/contribute">CONTRIBUTOR GUIDELINES</a>
  </div>-->
  <div style="height: 16px; text-align: center;">
    Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2020 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT
  </div style="height: 55px; ">

  <center>
    <a href="https://www.ukri.org/">
      <img src="/static/logos/UKRI-logo.png" alt="UKRI logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.metoffice.gov.uk/">
      <img src="/static/logos/mo-logo.jpg" alt="Met Office logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="http://www.leeds.ac.uk/">
      <img src="/static/logos/Leeds-logo.jpg" alt="Leeds logo" style="height:75px; width:auto; padding: 5px">
    </a>
  </center>

  <center>
    <a href="/privacy">Privacy</a>
  </center>
</div>
