<div style="text-align: center; width: 100%;">
<div class="headbox">
  <div class="headrow">
    <div class="divhead">
      <a href="http://cemac.leeds.ac.uk"><img src="/static/logos/logo2.jpg" alt="Example Banner" style="float:left;width:100%;"></a>
    </div>
    <div>
      <a href="/" title="FAZE-In Results Communication Tool" rel="home"><span style="font-size: 35px; color: #1f1f2d;">FAZE-In Results Communication Tool</span></a><span style="font-size: 15px; color: #1f1f2d;"><br><b>F</b>ire h<b>AZE</b> in <b>In</b>donesia</span>
    </div>
    <div class="divhead"></div>
  </div>
</div>
</div>
