{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align:center; width:100%; display:block; margin:auto;">
<a href="/">
<img src="/static/logos/header-about.jpg" width="100%" height="auto" alt="" />
</a>
</div><!-- #branding -->
<div >
<p style="text-align: justify">This page will give details on the purpose of the FAZE-In project as a whole and the contributors to this tool.
  It should also give details about Flexpart I think. The exact wording can be provided later.
</div><!-- .entry-content -->
{% endblock %}
</html>
