{% extends 'layout.html.j2' %}
{% block body %}
<div>
<h1> {{username}} account details </h1>
<p> Your role is {{Role}},
<p> information on roles ...
<p> affiliation ? emails?
</div><!-- .entry-content -->
{% endblock %}
</html>
