{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align:center; width:100%; display:block; margin:auto;">
<a href="/">
</a>
</div><!-- #branding -->
<h1> Contact Form </h1>
<p> coming soon
{% endblock %}
</html>
