{% extends 'layout.html.j2' %}
{% block body %}
<header>
  <div style="text-align:center; width:100%; display:block; margin:auto;">
  <a href="/">
</a>
</div><!-- #branding -->
  <h1>Glossary</h1>
</header>
<br>
<div style="text-align: justify">
  <table class="table table-striped" style="width: 80%;margin: 1px auto" align="center">
  <tbody>
  <tr><th scope="row" width="106">item1</th><td> Description of item 1.</td></tr>
  <tr><th scope="row" width="106">item2</th><td> Description of item 2.</td></tr>
</tbody>
</table>
</div><!-- .entry-content -->
{% endblock %}

</html>
