{% extends 'layout.html.j2' %}
{% block body %}
<header>
  <div style="text-align:center; width:100%; display:block; margin:auto;">
  <a href="/">
</a>
</div><!-- #branding -->
  <h1>Info Page 2</h1>
</header>
<br>
<div style="text-align: justify">
  <ul>
     <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
     <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
     <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
     <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
  </ul>
</div><!-- .entry-content -->
{% endblock %}

</html>
